nav {
    background-color: chocolate;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin: 0 15px;
    font-size: x-large;
    cursor: pointer;
}

ul li:hover {
    color: white;
}

table,
th,
tr {
    border: 1px solid black;
    padding: 5px 13px;
    border-radius: 5px;
}

.container {
    margin: 20px auto;
}

h1,
h2,
h3 {
    margin: 20px 0;
}

.btn {
    padding: 7px 17px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid greenyellow;
    background-color: black;
    margin: 15px 0;
}

.btn:hover{ cursor: pointer;}